elpa/
personal/
/org/
etc/info/
etc/log
backups/
projectile-bookmarks.eld
recentf
auto-save-list/eshell/
session.*
tramp
url/
smex-items
semanticdb
projectile.cache
.cask
.org-id-locations
.python-environments/
ac-comphist.dat
auto-save-list/
bookmarks
eshell/
